
[report]
include =
    */openpathsampling/experimental/simstore/*
    */openpathsampling/experimental/storage/*
omit =
    */test_*py
    */belong_in_pr/*
exclude_lines = 
    pragma: no cover
    def __repr__
    raise NotImplementedError
